.cover__subtitle {
    width: 30%;
    margin: 32px 0 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover__subtitle {
        width: 35%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .cover__subtitle {
        width: 47%;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .cover__subtitle {
      width: 93.5%;
      font-size: 14px;
      line-height: 16px;
      margin-top: 16px;
    }
}


@media screen and (min-width: 320px) and (max-width: 375px) {
    .cover__subtitle {
        width: 90%;
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }
}