.header {
    width: 92.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px auto 0;
}

@media screen and (max-width: 1024px) {
    .header {
        width: 90.7%;
    }
}

@media screen and (max-width: 768px) {
    .header {
      width: 93.5%;
    }
}

@media screen and (max-width: 375px) {
    .header {
      width: 90.5%;
    }
}