.cover {
    width: 92.5%;
    padding-top: 92px;
    margin: 0 auto;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover {
        width: 100%;
        min-height: 640px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .cover {
        width: 100%;
        min-height: 480px;
        padding-top: 90px;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .cover {
        width: 100%;
        padding-top: 66px;
        min-height: 200px;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .cover {
        width: 100%;
        min-height: 200px;
        padding-top: 66px;  
    }
}