.cover__overlay {
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-decoration: none;
    background-image: url("../../../images/cover-trains.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative; 
    z-index: 1;
}

.cover__overlay:hover::before {
    width: 100%;
    min-height: 740px;
    background: rgba(42, 44, 47, 0.8);
    content: " ";
    position: absolute;
    z-index: -1
}