.cover__title {
    width: 47%;
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        width: 77%;
    }
}

@media screen and (max-width: 656px) {
    .cover__title {
        width: 100%;
    }
}
@media screen and (max-width: 425px) {
    .cover__title {
      width: 93.5%;
      font-size: 32px;
      line-height: 35px;
    }
}


@media screen and (max-width: 375px) {
    .cover__title {
        width: 90%;
    }
}