.footer {
    width: 92.5%;
    padding-top: 92px;
    margin: 0 auto 24px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 90.7%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
      width: 93.5%;
      padding-top: 88px;
    }
}

@media screen and (max-width: 679px) {
    .footer {
      padding-top: 64px;
      align-items: end;
    }
}

@media screen and (max-width: 374px) {
    .footer {
      width: 90%;
      align-items: start;
      flex-direction: column;
    }
}